<div class="row">
   <div class="col-md-8">
     <h3> Add Collaborators </h3>
       <% @users_currently_not_collaborating.each do |user| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= button_to "#{user.email}", {controller: "collaborators", action: "create", wiki_id: @wiki.id, user_id: user.id} , class: 'btn btn-success' %>  
            </h4>
         </div>
       </div>
       <% end %>
   </div>
   <div class="col-md-4">
     <h3> Remove Collaborators </h3>
       <% if @collaborating_users.count != 0 %>
         <% @collaborating_users.each do |user| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
               <%= link_to "#{user.email}", [@wiki, @current_collaborators.find_by(user_id: user.id)], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this colaborator?' } %>
             </h4>
           </div>
         </div>
         <% end %>
       <% else %>
         <h4><%= markdown("_Currently no Collabartors for this Wiki_.") %></h4>
       <% end %>
   </div>    