<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Users create their own wikis and share them publicly or privately with other collaborators</p>
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h2>Knowledge</h2>
     <p>Share knowledge with the world!</p>
   </div>
   <div class="col-md-4">
     <h2>Web Encylopidia</h2>
     <p>Encylopedia right at your finger tips!</p>
   </div>
   <div class="col-md-4">
     <h2>Create</h2>
     <p>Come create your Wikis!</p>
   </div>
 </div>
